  /*  common css start  */

  * {
      padding: 0;
      margin: 0;
  }

  ul, li{
       list-style: none;
       margin: 0;
       padding: 0;
  }
  
  a{
      text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6, p{
      margin: 0;
      padding: 0;
  }

 

  /* common css end */

  /*  header part start */



  #header-part .national{
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #3ca2a2;
    padding: 25px 0;
   
  }

  #header-part .number{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #c20911;
    padding: 25px 0;
  }

  /*  header part end */

  /*  nav part start */

  #nav-part {
      background: #c20911;
  }

  #nav-part  ul li{
      display: inline-block;
      padding: 20px 20px;
     
      transition: .4s;
  }

  #nav-part  ul li a{
      display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    
  }

  #nav-part  ul li:hover{
      background: #f18d26;
  }

  #nav-part .row .icon {
      padding: 20px 0;
      text-align: center;
  }

  #nav-part .row .icon i{
      width: 25px;
      height: 25px;
      background: white;
      line-height: 25px;
      border-radius: 50%;
      text-align: center;
      color: #c20911;
      font-size: 16px;
  }

  /*  nav part end */

  /*  banner part start */

  #banner-part {
      background: url(../images/background.png) no-repeat center;
      background-size: cover;
   
  }

  #banner-part .overlay{
     width: 100%;
     height: 100%;
     background: rgba(146, 199, 163, .3);
     padding: 95px 0;
  }

  #banner-part .overlay .affected{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #215a6d
  }


  #banner-part .overlay .were{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 46px;
    color: #215a6d;
    font-style: italic;
    margin-top: -15px;
    
  }

  
  #banner-part .overlay .banner-lorem{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #215a6d;
    width: 297px;
    margin-top: 20px;
  
    
  }

  #banner-part .overlay a{
      display: inline-block;
      background: #92c7a3;
      color: white;

      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 18px;
      padding: 10px 20px;
      border-radius: 22px;
      margin-top: 40px;
  }

  /*  banner part end */

  /*  about part start */

  #about-part {
    margin-top: 45px;
  }

  #about-part .learn{
    font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 24px;
      color: #3ca2a2;
      text-align: center;
  }
  #about-part .round{
    text-align: center;
    padding: 25px 0;
  }

  #about-part .round img{
    width: 158px;
    height: 158px;
    border-radius: 50%;
  }

  #about-part .about-lorem {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #3ca2a2;
    text-align: center;
    width: 308px;
    margin: 0 auto;
  }

  #about-part a{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #3ca2a2;
    text-align: center;
    padding-top: 20px;
   
  }

  #about-part a i{
    color: #c20911;
    margin: 0 5px;
  }
 

  /*  about  part end */