  /*  common css start  */

  * {
      padding: 0;
      margin: 0;
  }

  ul, li{
       list-style: none;
       margin: 0;
       padding: 0;
  }
  
  a{
      text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6, p{
      margin: 0;
      padding: 0;
  }

 

  /* common css end */

  /*  header part start */



  .national{
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #3ca2a2;
    padding: 25px 0;
   
  }

  #header-part .number{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #c20911;
    padding: 25px 0;
  }

  /*  header part end */

  /*  nav part start */

  #nav-part {
      background: #c20911;
  }

  #nav-part  ul li{
      display: inline-block;
      padding: 20px 20px;
     
      transition: .4s;
  }

  #nav-part  ul li a{
      display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    
  }

  #nav-part  ul li:hover{
      background: #f18d26;
  }

  #nav-part .row .icon {
      padding: 20px 0;
      text-align: center;
  }

  #nav-part .row .icon i{
      width: 25px;
      height: 25px;
      background: white;
      line-height: 25px;
      border-radius: 50%;
      text-align: center;
      color: #c20911;
      font-size: 16px;
      margin: 0 10px;
  }

  /*  nav part end */

  /*  banner part start */

  #banner-part {
      background: url(../images/background.png) no-repeat center;
      background-size: cover;
   
  }

  #banner-part .overlay{
     width: 100%;
     height: 100%;
     background: rgba(146, 199, 163, .3);
     padding: 95px 0;
  }

  #banner-part .overlay .affected{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #215a6d
  }


  #banner-part .overlay .were{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 46px;
    color: #215a6d;
    font-style: italic;
    margin-top: -15px;
    
  }

  
  #banner-part .overlay .banner-lorem{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #215a6d;
    width: 297px;
    margin-top: 20px;
  
    
  }

  #banner-part .overlay a{
      display: inline-block;
      background: #92c7a3;
      color: white;

      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 18px;
      padding: 10px 20px;
      border-radius: 22px;
      margin-top: 40px;
  }

  /*  banner part end */

  /*  about part start */

  #about-part {
    margin-top: 45px;
  }

  #about-part .learn{
    font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 24px;
      color: #3ca2a2;
      text-align: center;
  }
  #about-part .round{
    text-align: center;
    padding: 25px 0;
  }

  #about-part .round img{
    width: 158px;
    height: 158px;
    border-radius: 50%;
  }

  #about-part .about-lorem {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #3ca2a2;
    text-align: center;
    width: 308px;
    margin: 0 auto;
  }

  #about-part a{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #3ca2a2;
    text-align: center;
    padding-top: 20px;
   
  }

  #about-part a i{
    color: #c20911;
    margin: 0 5px;
  }
 

  /*  about  part end */

  /* feature part start */

  #feature-part{
    background: #dfece6;
   
    margin-top: 85px;
    padding: 30px 0;
  }

  .title h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #215a6d;
    position: relative;


  }

  .title h2::after{
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 55px;
    height: 2px;
    background: #c20911;
    content: "";
  }

  .title h2::before{
    position: absolute;
    bottom: -15px;
    left: 56px;
    width: 578px;
    height: 2px;
    background: white;
    content: "";
  }

  #feature-part ul {
    padding-top: 40px;
  }

  #feature-part ul li{
    position: relative;
    margin: 3px 0;
  }

  #feature-part ul li a{
    display: block;
      color: #3ca2a2;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 16px;
      background: white;
      padding: 15px 0 15px 15px;

  }
  
  #feature-part ul li i{
    background: #c20911;
    color: white;
    text-align: right;
    padding: 19px;
    position: absolute;
    top: 0;
    right: 0;

    
  }

  #feature-part .icon{
    margin-top: 25px;
  }

 .icon .view{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #c20911;
   
    margin-left: 5px;

  }

  .icon i{
    margin-right: 4px;
    
  }

  #feature-part .img{
    margin-top: 45px;
    position: relative;
  }

  #feature-part .img img{
    width: 100%;
  }

  #feature-part .img .overlay{
   width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.4);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #feature-part .img .overlay i{
    font-size: 36px;
    color: #c20911;
  }

  #news-part{
    margin-top: 70px;
  }

  #news-part .title h2::after{
     width: 56px;
 }

  #news-part .title h2::before{
   
    width: 300px;
    background: #215a6d;
 
  }

  #news-part .nec-first{
    margin-top: 45px;
    border-bottom: 1px solid #73b7b7;;
    padding-bottom: 30px;
  }

  #news-part .nec-second{
    padding-top: 30px;
  }

  #news-part .nec {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #73b7b7;
  }

  
  #news-part .news-lorem {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #3c697a;
    width: 316px;
    margin-top: 5px;
  }

  #news-part .icon {
    margin-top: 30px;
  }

  #news-part .icon a{
    color: #73b7b7;
  }

  #news-part .icon i{
    color: #c20911;
    margin-right: 8px;
  }

  #news-part ul{
    margin-top: 45px;
  }

  #news-part ul li{
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #3c697a;
    line-height: 43px;
  }

  #news-part ul i{
    color: #c20911;
    margin-right: 8px;
    font-size: 16px;
    
  }

  #news-part .img-first-row{
    display: flex;
    margin-top: 55px;
  }
  
  #news-part .img-second-row{
    display: flex;
    margin-top: 15px;
   
  }



  #news-part .img{
    border: 5px solid #dfece6;
    margin-right: 20px;
  }

  #news-part .img img{
    width: 130px;
    height: 80px;
  }

  #news-part .last{
    margin-top: 83px;
  }



  /*  feature part end */

  /*  our doctors part start */

  #doctor-part {
    margin-top: 75px;
    margin-bottom: 100px;
  }

  #doctor-part .title h2::before{
    width: 100%;
    background: #eaeaea;
  }

  #doctor-part .row{
    margin-top: 50px;
  }

  #doctor-part .row .img img{
    width: 100%;
    border: 5px solid #dfece6;
  }

  #doctor-part .row .text .doctor-name{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #3ca2a2;
    margin-top: 8px;
  }

  #doctor-part .row .text .visitor{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #acacac;
   
  }

  #doctor-part .row .text .service{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #c20911;
   
  }

  #doctor-part .row .text .service span{
    margin:0 5px;
  }

  /*  our doctors part end */

  /*  footer part start */

  #footer-part{
    background: #222222;
    padding-top: 25px;
    padding-bottom: 40px;
  }

  .foot-title {
    padding-top: 40px;
  }

.foot-title .footer-title{
    font-family: 'Open Sans', sans-serif;
    color: #3ca2a2;
    font-size: 18px;
    font-weight: 600;
  }

  #footer-part  .row ul{
    margin-top: 15px;
  }

  #footer-part  .row ul li a{
    font-family: 'Open Sans', sans-serif;
    color: #c6ded9;
    font-size: 13px;
    font-weight: 400;
  }

  #footer-part  .row ul li i{
    color: #c20911;
    margin-right: 4px;
    
  }


  /*  footer part end */

  /* footer bottom part   start*/

  #footer-bottom {
    background: #c20911;
    padding: 15px 0;
  }

  #footer-bottom .footer-bottom-text{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
  }

  /* footer bottom part end */